html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Comic Sans', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(90deg, #a38532 0%, #841bda 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    pointer-events: none;
}

.deck .card.unmatch {
    cursor: default;
    background: #810909;
    font-size: 33px;
}

.deck .card.busy {
    pointer-events: none;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 660px;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    cursor: pointer;
}

.score-panel .timer {
    text-align: center;
    padding: 0 10px 0 10px;
}

/*
* Styles for congratulations box
*/

.congrat-box {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
}

.congrat-box .congrat {
    text-align: center;
    background: #fff;
}

.rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rating p {
    padding: 0 5px 0 0;
    margin: 5px 0 5px 0;
}

.rating .stars {
    margin: 5px 0 5px 0;
    padding: 0;
    display: inline-block;
}

.rating .stars li {
    list-style: none;
    display: inline-block;
}

.congrat-box .moves-number, .time {
    font-weight: bold;
    color: #c2b11a
}

.repeat {
    background-color: rgb(175, 76, 84); /* Green */
    color: white;
    padding: 10px 32px 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}


/*
* Responsiveness
*/

@media screen and (max-width: 768px) {
    .deck .card {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 2px;
    }

    .deck {
        margin: auto;
        width: 90%;
    }

    .score-panel {
        width: 90%;
        margin: auto;
    }
}